<footer class="w-100 bg-primary mt-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-3">
            <div class="logo-footer">
                <img src="https://turnedin.id/img/logo/1714118413317.png" alt="Logo" id="img-logo" class="my-auto">
                <h5 class="title text-light fw bold">Turned In</h5>
            </div>
            <div class="d-flex align-items-center">
              <div class="badge badge-footer text-bg-light">
                  <img src="https://turnedin.id/img/logo/whatsapp.png" class="img-fluid icon-footer">
                  <small class="text-secondary fw-normal mb-0">6282116719760</small>
              </div>
              <div class="badge badge-footer text-bg-light">
                  <img src="https://turnedin.id/img/logo/ig.jpg" class="img-fluid icon-footer">
                  <small class="text-secondary fw-normal mb-0">turnedin.id</small>
              </div>
              <div class="badge badge-footer text-bg-light">
                  <img src="https://turnedin.id/img/logo/tiktok.jpg" class="img-fluid icon-footer">
                  <small class="text-secondary fw-normal mb-0">turnedin.id</small>
              </div>
          </div>
        </div>
    </div>
</footer>