<!-- Header -->
<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="container">
          <a class="navbar-brand" href="#">
              <img src="https://turnedin.id/img/logo/1714118413316.png" alt="Logo">
              <span class="title fw-bold">Turned In</span>
          </a>
          <div class="collapse navbar-collapse text-nav" id="navbarNav">
              <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Cek Pesanan</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Cara Order</a>
                  </li>
              </ul>
          </div>
          <div class="form-inline">
              <button class="btn btn-success btn-sm" type="button">Login</button>
          </div>
      </div>
    </nav>
    <!--End Navbar-->